.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  margin: 10px 12px;
}

.container {
  max-width: 800px;
  margin: 5px 6px;
  padding: 2px;
  border: 2px solid black;
  border-radius: 5px;
}
