.App {
  margin: 15px;
}

.search {
  position: relative;
  left: 12px;
}

.container {
  max-width: 500px;
  margin: 5px 6px 40px;
  padding: 5px;
  border: 2px solid #112d1f;
  border-radius: 10px;
}

.container-fluid {
  color: #112d1f;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  top: -40px;
}

.date,
.daily-temp,
.celsiusFahren,
ul {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cityName {
  color: #431d5a;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.date {
  color: #112d1f;
  font-size: 20px;
}

.credits {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  position: relative;
  left: 13px;
}
