.Weather {
  padding: 16px;
  border-radius: 5px;
}

.Weather form {
  margin-bottom: 15px;
}

.Weather h1 {
  color: #0e2387;
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #431d5a;
  line-height: 20px;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
}

.WeatherTemperature .temperature {
  font-weight: bold;
  color: #0e2387;
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
  margin-left: 5px;
}

.WeatherTemperature .unit {
  color: blue;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
