.Weather {
  padding: 16px;
  border-radius: 5px;
  border: 2px solid #013488;
  border-radius: 5px;
}

.Weather form {
  margin-bottom: 15px;
}

.Weather h1 {
  color: #013488;
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #022045;
  line-height: 20px;

  font-family: "Times New Roman", Times, serif;
  list-style: none;
}

.WeatherTemperature .temperature {
  font-weight: bold;
  color: #013488;
  font-family: "Times New Roman", Times, serif;
  font-size: 47px;
  margin-left: 5px;
}

.WeatherTemperature .unit {
  color: #022045;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
